/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cabin', sans-serif;
}

.border-test {
    border: 1px dashed black;
}
 
/* div, #upper-hdr nav {
    /* background-color: blueviolet;
    border: 1px dashed black;
} */
/*  HEADER  */
header {
    color: white;
} 

/* Upper header */
#upper-hdr {
    background-color:rgb(37, 94, 233);
}
.nav-bar-size {
    width: 70%;
    margin: .5rem 0;
}
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hdr-logo-login {
    width: 20%;
}
.max-height {
    height: 100%;
}
.link-list {
    width: 60%;
}
#flex-start {
    justify-content: flex-start;
}
#flex-end {
    justify-content: flex-end;
}
.button-size {
    padding: .6rem 1rem;
    border-radius: 20px;
    border: 0;
}

/* HEADER NAV */
nav.link-list > ul {
    list-style: none;
}
nav.link-list > ul li {
    padding: 0rem 1rem;
}

/* Bottom header */
#bottom-hdr {
    background-image: url(./../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 9rem 0;
}
.box-different-size{
    width: 45%;
    /* height: calc(100% - 2.5rem); */
    text-align: center;
}
 .box-different-size > h1{
    font-size: 2rem;
    padding: 0 1rem 1rem;
 }
 .box-different-size > p {
    padding: 1rem;
 }
 .box-different-size button:nth-of-type(2) {
    background-color: rgb(35, 39, 42);
    color: white;
 }

/* MAIN */
.common-size {
    width: 70%;
    /* height: calc(100% - 2rem); */
}
/* BOX WHERE IMAGES ARE PLACED */
.main-box-image {
    width: 60%;
}
.main-box-image img {
    width: 100%;
}
/* BOX WHERE THERE ARE DESCRIPTIONS */
.main-box-description {
    width: 40%;
    align-self: stretch;
    padding: 0 4rem;
}
.main-box-description > h1 {
    font-size: 2rem;
}
.display-flex-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-box-description p {
    padding: 3rem 0 0;
}
.bg-grey {
    background-color: rgb(211, 211, 211);
}
.main-section {
    padding: 4rem 0;
}
/* MAIN SECTION BIGGER */
.main-section-box-green {
    height: 40%;
}
.bg-green {
    background-color: rgb(34, 139, 34);
}

/* FOOTER */
footer {
    height: 300px ;
    background-color: rgb(35, 39, 42);
}
#upper-footer {
    height: 80%;
    border-bottom: 1px solid white;
    align-items: flex-start;
    padding-top: 0.3rem;
}
#bottom-footer {
    height: 20%;
    /* border: 1px solid white; */
    align-items: flex-end;
}
.box-footer {
    width: 30%;
    background-color: rgb(240, 128, 128);
}
.little-box-footer {
    width: calc(70% / 4);
    background-color: rgb(32, 178, 170);
    border-color: white;
}
.display-flex-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-jade-green {
    background-color: rgb(127, 255, 212);
}